.venv/
__pycache__/
*.pyc
.env
E:\project2_msme_loan_risk\notebooks\xyz.py
E:\project2_msme_loan_risk\notebooks\fix_risk_labels.py
E:\project2_msme_loan_risk\notebooks\a.py
E:\project2_msme_loan_risk\notebooks\b.py
E:\project2_msme_loan_risk\notebooks\c.py
E:\project2_msme_loan_risk\notebooks\fix_loan_status.py
E:\project2_msme_loan_risk\notebooks\final_data_fix.py